<div class="wpsc">
  <div class="ui inverted segment">
    <h1 class="ui header">
      <img class="ui image huge floated left" src="{{white-logo}}">
      {{{tutorials-tools}}}
    </h1>
    <p>{{{tutorials-tools-desc}}}</p>
  </div>

  <div class="ui secondary segment">
    <h3 class="ui dividing header">
      <i class="book icon"></i>
      Documentation
    </h3>

    <h4 class="ui dividing header">
      {{{deploy}}}
    </h4>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-mochi.php" target="_blank">
        Mochi ERC-721 NFT Standard
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection.php" target="_blank">
        Matcha ERC-721 NFT Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-suika.php" target="_blank">
        Suika ERC-721 Advanced NFT Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-collection-yuzu.php" target="_blank">
        Yuzu ERC-1155 Multitoken Standard
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-erc1155-azuki.php" target="_blank">
        Azuki ERC-1155 Advanced Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-nft-erc1155-ikasumi.php" target="_blank">
        Ikasumi ERC-1155 Advanced Token Marketplace
      </a>
    </p>
    <p>
      <i class="circle icon"></i>
      <a href="https://wpsmartcontracts.com/docs/doc-item.php" target="_blank">
        NFT Items
      </a>
    </p>
  </div>

  <div class="ui stackable grid">
    <div class="sixteen wide column">

      <div class="ui info compact message wpsc-spacing wpsc-centering">

        <span class="ui blue ribbon label">{{{switch-networks}}}</span>
        <div class="ui divider"></div>

        <div class="header">
          <div class="sub header">{{{switch-explain}}}</div>
        </div>
        <div class="ui bulleted list">
          <div class="item">{{{switch-explain-2}}}</div>
          <div class="item">{{{switch-explain-3}}}</div>
          <div class="item">{{{switch-explain-4}}}</div>
        </div>

        <p>
          <a class="ui icon" href="https://wpsmartcontracts.com/layer-2/" target="_blank">
            <i class="external alternate icon"></i>{{{learn-how-to-get-coins}}}
          </a>
        </p>
        {{{choose-network}}}
      </div>

      <div class="ui info message">

        <span class="ui blue ribbon label">Change the NFT Look&Feel</span>
        <div class="ui divider"></div>
  
        <div class="header">
          Change the skin of your NFT Marketplace
        </div>
        <ul class="list">
          <li>Please <a href="{{wp-admin-url}}options-general.php?page=etherscan-api-key-setting-admin" target="_blank">Open NFT Settings</a></li>
          <li>Select your preferred skin</li>
          <li>Click on save settings</li>
        </ul>
        <p>Settings will open on a new window</p>
        <p>This is a global setting</p>
        <a href="{{wp-admin-url}}options-general.php?page=etherscan-api-key-setting-admin" target="_blank" class="ui button">
          <i class="external icon"></i>Open NFT Settings
        </a>
      </div>

      {{{help}}}

    </div>
  </div>

  <div class="ui divider"></div>

  <a href="https://wpsmartcontracts.com" target="_blank">
    <img class="ui medium centered image" src="{{wpsc-logo}}">
  </a>
  <div class="ui divider"></div>
  <p>If you enjoy WP Smart Contracts plugin give us a <a href="https://wordpress.org/support/plugin/wp-smart-contracts/reviews/#new-post" target="_blank">5 stars review</a> Thanks in advance!</p>
</div>
