<div>
    <p><strong>Email Registration:</strong></label>
    <p class="wpsc-small">Register with your email to access additional features like NFT Minting and more</p>
    <p>
        <input id="wpsc_input_email_account" type="text" placeholder="Write your email address" onchange="wpsc_check_email();">
    </p>
</div>
