<div id="wizard-container" class="wps-full-wrapper light-theme">
    <!-- MAIN WRAPPER -->
    <div class="wps-main-wrapper">
        {{{sidebar}}}
        <!-- WPS CONTENT -->

        <div class="wps-content-page">

            {{{main-nav}}}

            <!-- WSP GRID -->
            <div class="wps-dashboard-grid">
                {{{banner-wizard}}}

                <div class="wps-inner-content">

                    <!-- STEPS -->
                    <div class="wps-steps-container">

                        {{{subheader-step4}}}

                        <div class="wps-step-content wps-step-content-lg wps-step-three wps-step-content-active">

                            <div class="wps-form-box">
                                <div class="wps-form-heading">
                                    <h2>Smart contract options</h2>
                                </div>
                                <div class="wps-form-container">
                                    <div class="wps-form-col">

                                        <div class="wsp-form-group">
                                        <label class="wps-form-label">Symbol*</label>
                                        <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p>
                                            <div class="wsp-input-container">
                                                <input name="symbol" type="text" placeholder="Symbol">
                                                <img src="{{path-to-launcher}}img/symbol-icon.svg">
                                            </div> 
                                        </div>

                                        <div class="wsp-form-group">
                                            <label class="wps-form-label">Sales commissions*</label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p> 
                                            <div class="wsp-input-container">
                                                <input name="sales-commissions" type="text" placeholder="Sales commissions">
                                                <img src="{{path-to-launcher}}img/percent-solid.svg">
                                            </div>
                                        </div>

                                        <div class="wsp-form-group">
                                            <label class="wps-form-label">Wallet*</label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p> 
                                            <div class="wsp-input-container">
                                                <input name="wallet" type="text" placeholder="Wallet">
                                                <img src="{{path-to-launcher}}img/ethereum.svg">
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="wps-form-col">

                                        <div class="wsp-form-group">
                                        <label class="wps-form-label">Name*</label>
                                        <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p> 
                                            <div class="wsp-input-container">
                                                <input name="name" type="text" placeholder="Name">
                                                <img src="{{path-to-launcher}}img/key-solid.svg">
                                            </div>
                                        </div>

                                        <div class="wsp-form-group">
                                            <label class="wps-form-label">Royalty percentage for creators*</label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p> 
                                            <div class="wsp-input-container">
                                                <input name="royalty-creators" type="text" placeholder="Royalty percentage for creators">
                                                <img src="{{path-to-launcher}}img/percent-solid.svg">
                                            </div>
                                        </div>

                                        <div class="wsp-form-group">
                                            <label class="wps-form-label">Token for payments*</label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                <span class="wps-form-tooltip-icon">
                                                    <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                    <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                </span>
                                            </p> 
                                            <div class="wsp-input-container">
                                                <input name="token-payments" type="text" placeholder="Token for payments">
                                                <img src="{{path-to-launcher}}img/ethereum.svg">
                                            </div>
                                        </div>

                                        <div class="wsp-form-neddhelp">
                                            <h2 class="wsp-form-neddhelp-heading">Need help?</h2>
                                            <p class="wsp-form-neddhelp-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a href="" class="wsp-form-neddhelp-link">For more information please click here</a>
                                        </div>

                                        <div class="wsp-form-warning">
                                            Warning! Are you using reflection token? If so, you must exclude the NFT contract in your reflection token
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="form-box-container">

                                <div class="wps-form-box">
                                    <div class="wps-form-heading">
                                        <h2>Options</h2>
                                    </div>
                                    <div class="wps-form-container">
                                        <div class="wps-form-col">

                                            <div class="wsp-form-group">
                                            <label class="wps-form-label">Who can mint?*
                                                    <span class="wps-form-tooltip-icon">
                                                        <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                        <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                    </span>
                                            </label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> 
                                                <select class="select-dropdown__button select-dropdown__button--2" id="select-form-one" placeholder-text="Last 7 days">
                                                    <option value="opt1" class="select-dropdown__list-item">Last 7 days</option>
                                                    <option value="opt2" class="select-dropdown__list-item">Last 5 days</option>
                                                    <option value="opt3" class="select-dropdown__list-item">Last 3 days</option>
                                                </select>
                                            </div>
        
                                            <div class="wsp-form-group">
                                                <label class="wps-form-label">What user role can create NFT items in your market place?*
                                                    <span class="wps-form-tooltip-icon">
                                                        <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                        <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                    </span>
                                                </label>
                                                <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p> 
                                                <div class="wps-checkboxes">
                                                    <label class="wps-container-check">One
                                                        <input type="checkbox" checked="checked">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="wps-container-check">Two
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="wps-container-check">Three
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="wps-container-check">Four
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="wsp-form-group switches-group">
                                                <div class="switch-group">
                                                    <label class="switch">
                                                        <input type="checkbox" class="theToggle">
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="switch-content">
                                                        <label class="wps-form-label">
                                                            All the users can edit the all NFT
                                                            <span class="wps-form-tooltip-icon">
                                                                <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                                <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                            </span>
                                                        </label>
                                                        <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p> 
                                                    </div>
                                                </div>                                            
                                            </div>

                                            <div class="wsp-form-group switches-group">
                                                <div class="switch-group">
                                                    <label class="switch">
                                                        <input type="checkbox" class="theToggle">
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="switch-content">
                                                        <label class="wps-form-label">
                                                            Show OpenSea link
                                                            <span class="wps-form-tooltip-icon">
                                                                <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                                <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                            </span>
                                                        </label>
                                                        <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p> 
                                                    </div>
                                                </div>                                            
                                            </div>

                                            <div class="wsp-form-group switches-group">
                                                <div class="switch-group">
                                                    <label class="switch">
                                                        <input type="checkbox" class="theToggle">
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="switch-content">
                                                        <label class="wps-form-label">
                                                            Use pixelate images
                                                            <span class="wps-form-tooltip-icon">
                                                                <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                                <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                            </span>
                                                        </label>
                                                        <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p> 
                                                    </div>
                                                </div>                                            
                                            </div>

                                            <div class="wsp-form-group">
                                                <select class="select-dropdown__button select-dropdown__button--2" id="select-form-one" placeholder-text="Last 7 days">
                                                    <option value="opt1" class="select-dropdown__list-item">Last 7 days</option>
                                                    <option value="opt2" class="select-dropdown__list-item">Last 5 days</option>
                                                    <option value="opt3" class="select-dropdown__list-item">Last 3 days</option>
                                                </select>
                                            </div>
                                            
                                        </div>
        
                                    </div>
                                </div>

                                <div class="wps-form-box">
                                    <div class="wps-form-heading">
                                        <h2>Colors</h2>
                                    </div>
                                    <div class="wps-form-container">
                                        <div class="wps-form-col">
        
                                            <div class="wsp-form-group">
                                            <label class="wps-form-label">Graph background color
                                                    <span class="wps-form-tooltip-icon">
                                                        <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                        <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                    </span>
                                            </label>
                                            <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> 
                                            <div class="wsp-select-color">
                                                    <input type="color" id="bg-color" name="bg-color" value="#00C7C3">
                                                    <label for="bg-color">Select color</label>
                                                </div>
                                                
                                            </div>

                                            <div class="wsp-form-group">
                                                <label class="wps-form-label">Graph line color
                                                    <span class="wps-form-tooltip-icon">
                                                        <img src="{{path-to-launcher}}img/circle-question-solid.svg">
                                                        <span class="wps-form-tooltip">Text of the tooltip here...</span>
                                                    </span>
                                                </label>
                                                <p class="wps-form-text-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> 
                                                <div class="wsp-select-color">
                                                    <input type="color" id="line-color" name="line-color" value="#00FFFA">
                                                    <label for="line-color">Select color</label>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
        
                                    </div>
                                </div>

                            </div>
                        
                            <h2 class="wps-heading2">New Smart Contract</h2>
                            <div class="wps-divide-line"></div>

                            <div class="form-box-container">

                                <div class="wps-form-box wps-deply-box wps-box">
                                    <div class="wsp-top-badge">
                                        <span class="left">BNB 1.0000</span>
                                        <span class="right"> -$327.44**</span>
                                    </div>

                                    <div class="wps-deploy-box-content">
                                        <h2 class="wps-deply-box-heading">Deploy to the selected network</h2>

                                        <div class="wps-box-ctas">
                                            <div class="top-cta">
                                                <div class="wps-rectangle wps-yellow">
                                                    <span class="wps-circle"></span>
                                                    Binance smart chain
                                                </div>
                                            </div>
                
                                            <a href="#" class="wps-btn">Buy Ether</a>
                                            <a href="#" class="wps-btn wps-btn-full">DEPLOY</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>